{% extends "layouts/l00-preview/l00-preview.njk" %}
{% import "modules/m03-demo/m03-demo.njk" as demo %}


{% block preview %}
    <div class="l-content">
        <div class="m-demo">
            <div class="title-wrapper">
                <label class="label">Tarifmodell wähelen</label>
                <h2 class="title-head">Grundversicherung</h2>
                <p class="tite-desc">Wer in der Schweiz wohnt, braucht eine Krankenkasse: 
                die obligatorische Grundversicherung. Was sie zahlt, ist gesetzlich vorgeschrieben. 
                Den Anbieter können Sie wählen – und mit dem passenden Tarifmodell sparen:</p>
            </div>
            <div class="card-wrapper">
                <div class="card-item">
                    <label class="card-label">Freie Arztwahl</label>
                    <h3 class="card-head">Standard Modell</h3>
                    <ul class="card-list">
                        <li>Jederzeit freie Arztwahl</li>
                        <li>Direkt zu einem Spezialisten</li>
                        <li>24/7 telemedizinische Beratung</li>
                    </ul>
                    <a href="#">Mehr erfahren</a>
                </div>
                <div class="card-item">
                    <label class="card-label">Freie Arztwahl</label>
                    <h3 class="card-head">Standard Modell</h3>
                    <ul class="card-list">
                        <li>Jederzeit freie Arztwahl</li>
                        <li>Direkt zu einem Spezialisten</li>
                        <li>24/7 telemedizinische Beratung</li>
                    </ul>
                    <a href="#">Mehr erfahren</a>
                </div>
                <div class="card-item">
                    <label class="card-label">Freie Arztwahl</label>
                    <h3 class="card-head">Standard Modell</h3>
                    <ul class="card-list">
                        <li>Jederzeit freie Arztwahl</li>
                        <li>Direkt zu einem Spezialisten</li>
                        <li>24/7 telemedizinische Beratung</li>
                    </ul>
                    <a href="#">Mehr erfahren</a>
                </div>
                <div class="card-item">
                    <label class="card-label">Freie Arztwahl</label>
                    <h3 class="card-head">Standard Modell</h3>
                    <ul class="card-list">
                        <li>Jederzeit freie Arztwahl</li>
                        <li>Direkt zu einem Spezialisten</li>
                        <li>24/7 telemedizinische Beratung</li>
                    </ul>
                    <a href="#">Mehr erfahren</a>
                </div>
            </div>
            <div class="btn-wrapper">
                <button class="btn-primary">Jetzt Vergleichen</button>
            </div>
        </div>
    </div>
{% endblock %}
